// Astra Neutral Colors Variables
$neutralColor50: #f0f4f8;
$neutralColor100: #d9e2ec;
$neutralColor200: #bcccdc;
$neutralColor300: #829ab1;
$neutralColor400: #627d98;
$neutralColor500: #486581;
$neutralColor700: #334e68;
$neutralColor900: #102a43;

// Astra Gray Colors Variables
$white: #ffffff;
$grayColor50: #f7f7f7;
$grayColor100: #e5e5e5;
$grayColor300: #d8d8d8;
$grayColor400: #a4a4a4;
$grayColor500: #7d7e7f;
$grayColor700: #666666;
$grayColor900: #252525;
$black: #000000;

// Astra WD Colors Variables
$wdColor50: #fdeaf0;
$wdColor100: #f8bbd0;
$wdColor300: #ea779e;
$wdColor400: #db2260;
$wdColor500: #bd0040;
$wdColor700: #95003b;
$wdColor900: #5e0020;

// Astra DA Colors Variables
$daColor50: #e3f1fe;
$daColor100: #a9d1f9;
$daColor300: #4f9ee7;
$daColor400: #0b72ea;
$daColor500: #005ac1;
$daColor700: #013e94;
$daColor900: #041b62;

// Astra Success Variables
$successColor50: #d5f9d5;
$successColor100: #a7e7a7;
$successColor300: #7be07b;
$successColor400: #2bb92b;
$successColor500: #12a512;
$successColor700: #0e840e;
$successColor900: #015401;

// Astra Warning Variables
$warningColor50: #fff8e1;
$warningColor100: #ffdca7;
$warningColor300: #ffb74d;
$warningColor400: #ffa726;
$warningColor500: #fb8c00;
$warningColor700: #ef6c00;
$warningColor900: #aa3c00;

// Astra Error Variables
$errorColor50: #ffdfdf;
$errorColor100: #ffb7b7;
$errorColor300: #fe7979;
$errorColor400: #fc5151;
$errorColor500: #f01c1c;
$errorColor700: #c80606;
$errorColor900: #870101;

// Astra Yellow Variables
$yellowColor50: #fcfbdf;
$yellowColor100: #fbf7b3;
$yellowColor300: #faf268;
$yellowColor400: #f7ee41;
$yellowColor500: #f5eb27;
$yellowColor700: #d3b205;
$yellowColor900: #856800;

// Theme Specific Variables
$primaryColor: $neutralColor700;
$primaryDarkColor: $neutralColor900;
$primaryDarkerColor: $neutralColor900;
$primaryTextColor: $white;

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    --surface-a:#ffffff;
    --surface-b:#f8f9fa;
    --surface-c:#e9ecef;
    --surface-d:#dee2e6;
    --surface-e:#ffffff;
    --surface-f:#ffffff;
    --text-color:#495057;
    --text-color-secondary:#6c757d;
    --primary-color:#2196F3;
    --primary-color-text:#ffffff;
    --font-family:"Roboto","Helvetic Neue",sans-serif;
}
