.p-badge {
  &.p-badge-info {
    border: $infoButtonBorder;
  }
}

.p-tag {
  &.p-tag-info {
    border: $infoButtonBorder;
  }

  &.flx-tag-secondary {
    background-color: $secondaryButtonBg;
    color: $secondaryButtonTextColor;

    &.flx-tag-within-day {
      background-color: $wdColor50;
      color: $wdColor700;
    }

    &.flx-tag-day-ahead {
      background-color: $daColor50;
      color: $daColor700;
    }
  }

  &.flx-tag-within-day {
    background-color: $wdColor400;
    color: $white;
  }

  &.flx-tag-day-ahead {
    background-color: $daColor400;
    color: $white;
  }
}
