// button extensions
.p-button {
  text-transform: uppercase;

  &:disabled {
    background: $neutralColor200;
    color: $white;
    border-color: $neutralColor200;
  }
}

.p-button.flx-within-day {
  background: $wdColor500;
  color: $white;
  border-color: $wdColor500;

  &:enabled:hover {
    background: $wdColor700;
    color: $white;
    border-color: $wdColor700;
  }

  &:enabled:active {
    background: $wdColor500;
    color: $white;
    border-color: $wdColor500;
  }

  &:focus {
    @include focused();
  }

  &:disabled {
    background: $wdColor100;
    color: $white;
    border-color: $wdColor100;
  }
}

.p-button.flx-day-ahead {
  background: $daColor500;
  color: $white;
  border-color: $daColor500;

  &:enabled:hover {
    background: $daColor700;
    color: $white;
    border-color: $daColor700;
  }

  &:enabled:active {
    background: $daColor500;
    color: $white;
    border-color: $daColor500;
  }

  &:focus {
    @include focused();
  }

  &:disabled {
    background: $daColor100;
    color: $white;
    border-color: $daColor100;
  }
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  .p-button-icon {
    color: $neutralColor400;
  }

  &:enabled:hover {
    .p-button-icon {
      color: $neutralColor700;
    }
  }

  &:disabled {
    background: $white;
    color: $neutralColor200;
    border-color: $neutralColor200;
  }
}

/*.p-button.p-button-secondary:disabled,
.p-buttonset.p-button-secondary:disabled > .p-button,
.p-buttonset.p-button-secondary > .p-button:disabled,
.p-splitbutton.p-button-secondary:disabled > .p-button,
.p-splitbutton.p-button-secondary > .p-button:disabled {
  required ???
}*/

.p-button.p-button-secondary.flx-within-day {
  background: $wdColor50;
  color: $wdColor900;
  border-color: $wdColor100;

  .p-button-icon {
    color: $wdColor300;
  }

  &:enabled:hover {
    background: $wdColor100;
    color: $wdColor900;
    border-color: $wdColor300;

    .p-button-icon {
      color: $wdColor400;
    }
  }

  &:enabled:active {
    background: $wdColor50;
    color: $wdColor900;
    border-color: $wdColor100;
  }

  &:focus {
    @include focused();
  }

  &:disabled {
    background: $white;
    color: $wdColor100;
    border-color: $wdColor100;
  }
}

.p-button.p-button-secondary.flx-day-ahead {
  background: $daColor50;
  color: $daColor900;
  border-color: $daColor100;

  .p-button-icon {
    color: $daColor300;
  }

  &:enabled:hover {
    background: $daColor100;
    color: $daColor900;
    border-color: $daColor300;

    .p-button-icon {
      color: $daColor400;
    }
  }

  &:enabled:active {
    background: $daColor50;
    color: $daColor900;
    border-color: $daColor100;
  }

  &:focus {
    @include focused();
  }

  &:disabled {
    background: $white;
    color: $daColor100;
    border-color: $daColor100;
  }
}

.p-button.p-button-tertiary {
  background: transparent;
  color: $neutralColor700;
  border-color: transparent;

  &:enabled:hover {
    background: transparent;
    color: $neutralColor900;
    border-color: transparent;
  }

  &:enabled:active {
    background: transparent;
    color: $neutralColor700;
    border-color: transparent;
  }

  &:focus {
    @include focused();
  }

  &:disabled {
    background: transparent;
    color: $neutralColor200;
    border-color: transparent;
  }

  &.flx-within-day {
    color: $wdColor700;

    &:enabled:hover {
      color: $wdColor900;
    }

    &:enabled:active {
      color: $wdColor700;
    }

    &:focus {
      @include focused();
    }

    &:disabled {
      color: $wdColor100;
    }
  }

  &.flx-day-ahead {
    color: $daColor700;

    &:enabled:hover {
      color: $daColor900;
    }

    &:enabled:active {
      color: $daColor700;
    }

    &:focus {
      @include focused();
    }

    &:disabled {
      color: $daColor100;
    }
  }
}
