<h1>TabMenu</h1>
<p>
  TabMenu is a navigation component that displays items as tab headers. Example below uses nested routes with TabMenu. See
  <a href="https://www.primefaces.org/primeng/showcase/#/tabmenu" target="_blank" rel="noreferrer noopener">official documentation</a>.
</p>
<div class="p-grid p-flex-column">
  <div class="p-col">
    <p-panel header="Default Astra Styling" [toggleable]="true">
      <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </p-panel>
  </div>
</div>
