<div class="fake-content">
  PLACE CONTENT HERE
  <div class="p-mt-2">
    <p-checkbox [(ngModel)]="moreContent" [binary]="true" label="Display more content"></p-checkbox>
    <button type="button" pButton label="Click me to close the dialog" class="p-button-secondary p-ml-2" (click)="close()"></button>
    <span class="p-ml-2">or press Escape.</span>
  </div>
<pre class="p-mt-2">
<b><u>Config</u></b>
{{ config | json }}
</pre>
  <div class="p-mt-2">
    <h4>Important Remark</h4>
    <p>DynamicDialog is not meant to be use for popup with action button(s) in the footer because the footer property only accepts text without HTML.</p>
    <p>To display a popup with action button(s), you have to use <b>p-dialog</b> component instead.</p>
  </div>
</div>
<div *ngIf="moreContent" class="fake-content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda dolor explicabo iure magni porro
    quasi quos repellat tempora ullam. Cumque deleniti, fugiat impedit ipsum quidem quisquam recusandae reiciendis vero!
  </p>
  <p>
    Animi, dolore eaque fugit ipsam iusto, molestias neque nihil placeat provident quas repudiandae sed sit voluptas.
    Excepturi iste magni nam nesciunt nobis, nostrum officiis, qui quia repellendus sequi sunt voluptatum.
  </p>
  <p>
    Dolor expedita minima tempore. Ad, delectus ex fuga laudantium possimus rerum saepe totam? Alias aperiam atque
    beatae commodi eius inventore ipsum labore molestias natus, officia praesentium, quasi suscipit vero voluptatem?
  </p>
  <p>
    Accusantium fugiat impedit inventore laboriosam pariatur provident quidem, unde! Accusamus at aut consectetur
    consequuntur cumque dolor enim eos exercitationem expedita hic inventore maxime nemo nesciunt omnis provident,
    ratione reiciendis voluptatem.
  </p>
  <p>
    Alias aliquam doloremque earum exercitationem fugit in maxime minus modi molestiae neque nulla praesentium
    quibusdam sapiente similique veniam, vitae voluptates. Id ipsa mollitia numquam officiis quod soluta veritatis vero.
    Perferendis.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda dolor explicabo iure magni porro
    quasi quos repellat tempora ullam. Cumque deleniti, fugiat impedit ipsum quidem quisquam recusandae reiciendis vero!
  </p>
  <p>
    Animi, dolore eaque fugit ipsam iusto, molestias neque nihil placeat provident quas repudiandae sed sit voluptas.
    Excepturi iste magni nam nesciunt nobis, nostrum officiis, qui quia repellendus sequi sunt voluptatum.
  </p>
  <p>
    Dolor expedita minima tempore. Ad, delectus ex fuga laudantium possimus rerum saepe totam? Alias aperiam atque
    beatae commodi eius inventore ipsum labore molestias natus, officia praesentium, quasi suscipit vero voluptatem?
  </p>
  <p>
    Accusantium fugiat impedit inventore laboriosam pariatur provident quidem, unde! Accusamus at aut consectetur
    consequuntur cumque dolor enim eos exercitationem expedita hic inventore maxime nemo nesciunt omnis provident,
    ratione reiciendis voluptatem.
  </p>
  <p>
    Alias aliquam doloremque earum exercitationem fugit in maxime minus modi molestiae neque nulla praesentium
    quibusdam sapiente similique veniam, vitae voluptates. Id ipsa mollitia numquam officiis quod soluta veritatis vero.
    Perferendis.
  </p>
</div>
