<h1>Buttons</h1>
<div class="p-d-flex p-flex-wrap p-flex-gap">
  <div class="p-flex-fill">
    <p-panel header="Primary">
      <h2>Basic</h2>
      <h3>Neutral</h3>
      <button type="button" pButton label="Submit" class="p-mr-2 p-mb-2"></button>
      <button type="button" pButton label="Submit" class="p-mr-2 p-mb-2" disabled></button>
<pre><code>
&lt;button type="button" pButton label="Submit"&gt;&lt;/button&gt;
&lt;button type="button" pButton label="Submit" disabled&gt;&lt;/button&gt;
</code></pre>
      <h3>WD</h3>
      <button type="button" pButton label="Submit" class="flx-within-day p-mr-2 p-mb-2"></button>
      <button type="button" pButton label="Submit" class="flx-within-day p-mr-2 p-mb-2" disabled></button>
<pre><code>
&lt;button type="button" pButton label="Submit" class="flx-within-day"&gt;&lt;/button&gt;
&lt;button type="button" pButton label="Submit" class="flx-within-day" disabled&gt;&lt;/button&gt;
</code></pre>
      <h3>DA</h3>
      <button type="button" pButton label="Submit" class="flx-day-ahead p-mr-2 p-mb-2"></button>
      <button type="button" pButton label="Submit" class="flx-day-ahead p-mr-2 p-mb-2" disabled></button>
<pre><code>
&lt;button type="button" pButton label="Submit" class="flx-day-ahead"&gt;&lt;/button&gt;
&lt;button type="button" pButton label="Submit" class="flx-day-ahead" disabled&gt;&lt;/button&gt;
</code></pre>
    </p-panel>
  </div>
  <div class="p-flex-fill">
    <p-panel header="Secondary">
      <h2>Basic</h2>
      <h3>Neutral</h3>
      <button type="button" pButton label="Submit" class="p-button-secondary p-mr-2 p-mb-2"></button>
      <button type="button" pButton label="Submit" class="p-button-secondary p-mr-2 p-mb-2" disabled></button>
      <pre><code>
&lt;button type="button" pButton label="Submit" class="p-button-secondary"&gt;&lt;/button&gt;
&lt;button type="button" pButton label="Submit" class="p-button-secondary" disabled&gt;&lt;/button&gt;
</code></pre>
      <h3>WD</h3>
      <button type="button" pButton label="Submit" class="p-button-secondary flx-within-day p-mr-2 p-mb-2"></button>
      <button type="button" pButton label="Submit" class="p-button-secondary flx-within-day p-mr-2 p-mb-2" disabled></button>
      <pre><code>
&lt;button type="button" pButton label="Submit" class="p-button-secondary flx-within-day"&gt;&lt;/button&gt;
&lt;button type="button" pButton label="Submit" class="p-button-secondary flx-within-day" disabled&gt;&lt;/button&gt;
</code></pre>
      <h3>DA</h3>
      <button type="button" pButton label="Submit" class="p-button-secondary flx-day-ahead p-mr-2 p-mb-2"></button>
      <button type="button" pButton label="Submit" class="p-button-secondary flx-day-ahead p-mr-2 p-mb-2" disabled></button>
      <pre><code>
&lt;button type="button" pButton label="Submit" class="p-button-secondary flx-day-ahead"&gt;&lt;/button&gt;
&lt;button type="button" pButton label="Submit" class="p-button-secondary flx-day-ahead" disabled&gt;&lt;/button&gt;
</code></pre>
    </p-panel>
  </div>
  <div class="p-flex-fill">
    <p-panel header="Tertiary">
      TODO
    </p-panel>
  </div>
</div>
