/* Customizations to the designer theme should be defined here */
@import url('https://rsms.me/inter/inter.css');

@mixin list-item-hover() {
    box-shadow: inset 0 0 0 .1rem $primaryColorAlt;
}

//forms
.p-inputtext {
    &:enabled:hover {
        background-color: $white100;
    }
    &:enabled:focus {
        background-color: $white;
    }
}

.p-chips {
    .p-chips-multiple-container {
        &:not(.p-disabled):hover {
            background-color: $white100;
        }
        &:not(.p-disabled).p-focus {
            background-color: $white;
        }
    }
}

.p-autocomplete {
    .p-autocomplete-panel {
        .p-autocomplete-item{
            &:not(.p-disabled):hover {
                @include list-item-hover();
            }
        }
    }
    &.p-autocomplete-multiple {
        .p-autocomplete-multiple-container {
            &:not(.p-disabled):hover {
                background-color: $white100;
            }
        }
    }
}

.p-dropdown {
    &:not(.p-disabled):hover {
        background-color: $white100;
    }
}

.p-dropdown-panel {
    .p-dropdown-items {
        .p-dropdown-item {
            &:not(.p-highlight):not(.p-disabled):hover {
                @include list-item-hover();
            }
        }
    }
}

.p-listbox {
    &:not(.p-disabled) {
        .p-listbox-item {
            &:not(.p-disabled):hover {
                @include list-item-hover();
            }
        }
    }
}

.p-multiselect-panel {
    .p-multiselect-items {
        .p-multiselect-item {
            &:not(.p-highlight):not(.p-disabled):hover {
                @include list-item-hover();
            }
        }
    }
}

//buttons
.p-button {
    font-weight: 500;
}

//radio
.p-radiobutton {
    .p-radiobutton-box {
        &:not(.p-disabled):not(.p-highlight):hover {
            background-color: $white300;;
        }
    }
}

//checkbox
.p-checkbox {
    &:not(.p-checkbox-disabled) {
        .p-checkbox-box {
            &:hover {
                background-color: $white300;
            }
        }
    }
}

//multiselect
.p-multiselect {
    &:not(.p-disabled):hover {
        background-color: $white100;
    }
}

//accordion
.p-accordion {
    .p-accordion-header {
        &:not(.p-highlight):not(.p-disabled):hover {
            &:not(.p-disabled) {
                .p-accordion-header-link {
                    &:focus {
                        box-shadow: inset 0 0 0 .1rem $primaryColorAlt;
                    }
                }
            }

            .p-accordion-header-link {
                box-shadow: inset 0 0 0 .1rem $primaryColorAlt;
            }
        }
        
        &:not(.p-disabled).p-highlight {
            &:hover {
                .p-accordion-header-link {
                    box-shadow: inset 0 0 0 .1rem $primaryColorAlt;
                }
            }
        }
    }
}