<h1>SelectButton</h1>
<p>
  SelectButton is a form component to choose a value from a list of options using button elements. See
  <a href="https://www.primefaces.org/primeng/showcase/#/selectbutton" target="_blank" rel="noreferrer noopener">official documentation</a>.
</p>
<div class="p-grid p-flex-column">
  <div class="p-col">
    <p-panel header="PrimeNG Example" [toggleable]="true">
      <h5>Single Selection</h5>
      <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>

      <h5>Multiple Selection</h5>
      <p-selectButton
        [options]="paymentOptions"
        [(ngModel)]="value2"
        multiple="multiple"
        optionLabel="name"
        optionValue="value"
        optionDisabled="disabled"
      ></p-selectButton>

      <h5>Custom Template</h5>
      <p-selectButton [options]="justifyOptions" [(ngModel)]="value3" optionDisabled="inactive">
        <ng-template let-item>
          <i [class]="item.icon"></i>
        </ng-template>
      </p-selectButton>
    </p-panel>
  </div>
  <div class="p-col">
    <p-panel header="Fluxys Example" [toggleable]="true">
      <h5>Single Selection</h5>
      <p-selectButton
        styleClass="flx-select-button-secondary"
        [options]="stateOptions"
        [(ngModel)]="value4"
        optionLabel="label"
        optionValue="value"
      ></p-selectButton>
      <!-- prettier-ignore -->
      <app-code lang="html" ngPreserveWhitespaces>
&lt;p-selectButton styleClass="flx-select-button-secondary" [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"&gt;&lt;/p-selectButton&gt;
</app-code>
      <!-- prettier-ignore -->
      <app-code lang="typescript" ngPreserveWhitespaces>
this.stateOptions = [&#123; label: 'Off', value: 'off' }, &#123; label: 'On', value: 'on' }];
</app-code>

      <h5>Multiple Selection</h5>
      <p-selectButton
        styleClass="flx-select-button-secondary"
        [options]="paymentOptions"
        [(ngModel)]="value5"
        multiple="multiple"
        optionLabel="name"
        optionValue="value"
        optionDisabled="disabled"
      ></p-selectButton>
      <!-- prettier-ignore -->
      <app-code lang="html" ngPreserveWhitespaces>
&lt;p-selectButton styleClass="flx-select-button-secondary" [options]="paymentOptions" [(ngModel)]="value" multiple="multiple" optionLabel="name" optionValue="value" optionDisabled="disabled"&gt;&lt;/p-selectButton&gt;
</app-code>
      <!-- prettier-ignore -->
      <app-code lang="typescript" ngPreserveWhitespaces>
this.paymentOptions = [
  &#123; name: 'Option 1', value: 1, disabled: false },
  &#123; name: 'Option 2', value: 2, disabled: true },
  &#123; name: 'Option 3', value: 3, disabled: false }
];
</app-code>

      <h5>Custom Template</h5>
      <p-selectButton styleClass="flx-select-button-secondary" [options]="justifyOptions" [(ngModel)]="value3" optionDisabled="inactive">
        <ng-template let-item>
          <i [class]="item.icon"></i>
        </ng-template>
      </p-selectButton>
      <!-- prettier-ignore -->
      <app-code lang="html" ngPreserveWhitespaces>
&lt;p-selectButton styleClass="flx-select-button-secondary" [options]="justifyOptions" [(ngModel)]="value" optionDisabled="inactive"&gt;
  &lt;ng-template let-item&gt;
    &lt;i [class]="item.icon"&gt;&lt;/i&gt;
  &lt;/ng-template&gt;
&lt;/p-selectButton&gt;
</app-code>
      <!-- prettier-ignore -->
      <app-code lang="typescript" ngPreserveWhitespaces>
this.justifyOptions = [
  &#123; icon: 'pi pi-align-left', justify: 'Left', inactive: false },
  &#123; icon: 'pi pi-align-right', justify: 'Right', inactive: false },
  &#123; icon: 'pi pi-align-center', justify: 'Center', inactive: false },
  &#123; icon: 'pi pi-align-justify', justify: 'Justify', inactive: true }
];
      </app-code>
    </p-panel>
  </div>
</div>
