<h1>Fluxys PrimeNG Theme</h1>
<p>Welcome to the demo website dedicated to show how the default PrimeNG components look like with the new theme created specifically for Fluxys.</p>
<p>This theme is based on the Astra design created by the UX team and documented in Figma.</p>
<p>Use the left menu to navigate to the different PrimeNG components and see how they look like.</p>
<p>On each component page, there is, at least, the PrimeNG Example taken from the official PrimeNG documentation. When a Fluxys specific style exists for the component, then there is also an example panel dedicated to the Fluxys specific styling with code example to show how it is implemented.</p>
