<h1>Fluxys PrimeNG Theme</h1>
<p>
  Welcome to the demo website dedicated to show how the default PrimeNG components look like with the new theme created specifically for
  Fluxys.
</p>
<p>This theme is based on the Astra design created by the UX team and documented in Figma.</p>
<p>Use the left menu to navigate to the different PrimeNG components and see how they look like.</p>
<p>
  On each component page, there is, at least, the <b>Default Astra Styling</b> that show how the PrimeNG component looks like with the default
  Astra Design System.<br> Sometimes, the components has extra styling defined for GSmart applications like the <em>Within Day</em> and
  <em>Day Ahead</em> colors. In that case, there is an additional panel showing the custom styling for the PrimeNG component.
</p>
