<h1>Dialogs</h1>
<div class="p-grid">
  <div class="p-col">
    <p-panel header="Confirmation Dialog">
      <h3>Neutral</h3>
      <button type="button" pButton label="Open" class="p-mr-2 p-mb-2" (click)="confirmNormal()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
});
</code></pre>
      <h3>WD</h3>
      <button type="button" pButton label="Open" class="flx-within-day p-mr-2 p-mb-2" (click)="confirmWD()"></button>
      <pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog" styleClass="flx-within-day"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary flx-within-day" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" class="flx-within-day" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
});
</code></pre>
      <h3>DA</h3>
      <button type="button" pButton label="Open" class="flx-day-ahead p-mr-2 p-mb-2" (click)="confirmDA()"></button>
      <pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog" styleClass="flx-day-ahead"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary flx-day-ahead" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" class="flx-day-ahead" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
});
</code></pre>
      <h3>Warning</h3>
      <button type="button" pButton label="Open" class="p-mr-2 p-mb-2" (click)="confirmWarning()"></button>
      <pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog" styleClass="flx-warning"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
  icon: 'pi pi-exclamation-circle',
});
</code></pre>
    </p-panel>
  </div>
  <div class="p-col">
    <p-panel header="Dialog">

    </p-panel>
  </div>
  <div class="p-col">
    <p-panel header="DynamicDialog">

    </p-panel>
  </div>
</div>
<p-confirmDialog #cd1 key="normalCD" header="Confirmation Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd1.reject()"></button>
    <button type="button" pButton label="Ok" (click)="cd1.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #cd2 key="withinDayCD" styleClass="flx-within-day" header="Confirmation Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary flx-within-day" (click)="cd2.reject()"></button>
    <button type="button" pButton label="Ok" class="flx-within-day" (click)="cd2.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #cd3 key="dayAheadCD" styleClass="flx-day-ahead" header="Confirmation Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary flx-day-ahead" (click)="cd3.reject()"></button>
    <button type="button" pButton label="Ok" class="flx-day-ahead" (click)="cd3.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #cd4 key="warningCD" styleClass="flx-warning" header="Warning Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd4.reject()"></button>
    <button type="button" pButton label="Ok" (click)="cd4.accept()"></button>
  </p-footer>
</p-confirmDialog>
