<h1>Dialogs</h1>
<div class="p-grid">
  <div class="p-col">
    <p-panel header="Confirmation Dialog">
      <h3>Neutral</h3>
      <button type="button" pButton label="Open" class="p-mr-2 p-mb-2" (click)="confirmNeutral()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
});
</code></pre>
      <h3>WD</h3>
      <button type="button" pButton label="Open" class="flx-within-day p-mr-2 p-mb-2" (click)="confirmWithinDay()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog" styleClass="flx-within-day"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary flx-within-day" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" class="flx-within-day" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
});
</code></pre>
      <h3>DA</h3>
      <button type="button" pButton label="Open" class="flx-day-ahead p-mr-2 p-mb-2" (click)="confirmDayAhead()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog" styleClass="flx-day-ahead"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary flx-day-ahead" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" class="flx-day-ahead" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
});
</code></pre>
      <h3>Warning</h3>
      <button type="button" pButton label="Open" class="p-mr-2 p-mb-2" (click)="confirmWarning()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-confirmDialog #cd header="Confirmation Dialog" styleClass="flx-warning"&gt;
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd.reject()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" (click)="cd.accept()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-confirmDialog&gt;

<b><u>TS</u></b>
this.confirmationService.confirm(&#123;
  message: 'Dialog is a container to display content in an overlay window.',
  icon: 'pi pi-exclamation-circle',
});
</code></pre>
    </p-panel>
  </div>
  <div class="p-col">
    <p-panel header="Dialog">
      <h3>Neutral</h3>
      <button type="button" pButton label="Open" class="p-mr-2 p-mb-2" (click)="showNeutral()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-dialog [(visible)]="visible"&gt;
  &lt;p-header&gt;
    Pop-up title
  &lt;/p-header&gt;
  PLACE CONTENT HERE
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cancel()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" (click)="performAction()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-dialog&gt;

<b><u>TS</u></b>
visible = false;
show(): void &#123;
  this.visible = true;
}
cancel(): void &#123;
  this.visible = false;
}
performAction(): void &#123;
  // do something
  this.visible = false;
}
</code></pre>
      <h3>WD</h3>
      <button type="button" pButton label="Open" class="flx-within-day p-mr-2 p-mb-2" (click)="showWithinDay()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-dialog [(visible)]="visible" styleClass="flx-within-day"&gt;
  &lt;p-header&gt;
    &lt;span class="p-tag p-tag-rounded flx-within-day"&gt;WD&lt;/span&gt;
    Pop-up title
  &lt;/p-header&gt;
  PLACE CONTENT HERE
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary flx-within-day" (click)="cancel()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" class="flx-within-day" (click)="performAction()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-dialog&gt;

<b><u>TS</u></b>
visible = false;
show(): void &#123;
  this.visible = true;
}
cancel(): void &#123;
  this.visible = false;
}
performAction(): void &#123;
  // do something
  this.visible = false;
}
</code></pre>
      <h3>DA</h3>
      <button type="button" pButton label="Open" class="flx-day-ahead p-mr-2 p-mb-2" (click)="showDayAhead()"></button>
<pre><code>
<b><u>HTML</u></b>
&lt;p-dialog [(visible)]="visible" styleClass="flx-day-ahead"&gt;
  &lt;p-header&gt;
    &lt;span class="p-tag p-tag-rounded flx-day-ahead"&gt;WD&lt;/span&gt;
    Pop-up title
  &lt;/p-header&gt;
  PLACE CONTENT HERE
  &lt;p-footer&gt;
    &lt;button type="button" pButton label="Cancel" class="p-button-secondary flx-day-ahead" (click)="cancel()"&gt;&lt;/button&gt;
    &lt;button type="button" pButton label="Ok" class="flx-day-ahead" (click)="performAction()"&gt;&lt;/button&gt;
  &lt;/p-footer&gt;
&lt;/p-dialog&gt;

<b><u>TS</u></b>
visible = false;
show(): void &#123;
  this.visible = true;
}
cancel(): void &#123;
  this.visible = false;
}
performAction(): void &#123;
  // do something
  this.visible = false;
}
</code></pre>
    </p-panel>
  </div>
  <div class="p-col">
    <p-panel header="DynamicDialog">
      <h3>Neutral</h3>
      <button type="button" pButton label="Open" class="p-mr-2 p-mb-2" (click)="showDynamicNeutral()"></button>
<pre><code>
<b><u>TS</u></b>
const ref = this.dialogService.open(DynamicDialogContentComponent, &#123;
  header: 'Pop-up title',
  footer: 'Dynamic Dialog Footer',
  width: '70vw',
});
ref.onClose.pipe(take(1)).subscribe((res) => &#123;
  // do something based on res
  console.log('dynamic dialog result', res);
});
</code></pre>
      <h3>WD</h3>
      <button type="button" pButton label="Open" class="flx-within-day p-mr-2 p-mb-2" (click)="showDynamicWithinDay()"></button>
<pre><code>
<b><u>TS</u></b>
const ref = this.dialogService.open(DynamicDialogContentComponent, &#123;
  header: 'Pop-up title',
  footer: 'Dynamic Dialog Footer',
  width: '70vw',
  styleClass: 'flx-within-day',
});
ref.onClose.pipe(take(1)).subscribe((res) => &#123;
  // do something based on res
  console.log('dynamic dialog result', res);
});
</code></pre>
      <h3>DA</h3>
      <button type="button" pButton label="Open" class="flx-day-ahead p-mr-2 p-mb-2" (click)="showDynamicDayAhead()"></button>
<pre><code>
<b><u>TS</u></b>
const ref = this.dialogService.open(DynamicDialogContentComponent, &#123;
  header: 'Pop-up title',
  footer: 'Dynamic Dialog Footer',
  width: '70vw',
  styleClass: 'flx-day-ahead',
});
ref.onClose.pipe(take(1)).subscribe((res) => &#123;
  // do something based on res
  console.log('dynamic dialog result', res);
});
</code></pre>
    </p-panel>
  </div>
</div>
<p-confirmDialog #cd1 key="normalCD" header="Confirmation Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd1.reject()"></button>
    <button type="button" pButton label="Ok" (click)="cd1.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #cd2 key="withinDayCD" styleClass="flx-within-day" header="Confirmation Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary flx-within-day" (click)="cd2.reject()"></button>
    <button type="button" pButton label="Ok" class="flx-within-day" (click)="cd2.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #cd3 key="dayAheadCD" styleClass="flx-day-ahead" header="Confirmation Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary flx-day-ahead" (click)="cd3.reject()"></button>
    <button type="button" pButton label="Ok" class="flx-day-ahead" (click)="cd3.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog #cd4 key="warningCD" styleClass="flx-warning" header="Warning Dialog">
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary" (click)="cd4.reject()"></button>
    <button type="button" pButton label="Ok" (click)="cd4.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-dialog [(visible)]="neutralDialogVisible">
  <p-header>
    Pop-up title
  </p-header>
  <div class="fake-content">PLACE CONTENT HERE</div>
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary" (click)="close()"></button>
    <button type="button" pButton label="Ok" (click)="performAction()"></button>
  </p-footer>
</p-dialog>
<p-dialog [(visible)]="withinDayDialogVisible" styleClass="flx-within-day">
  <p-header>
    <span class="p-tag p-tag-rounded flx-within-day">WD</span>Pop-up title
  </p-header>
  <div class="fake-content">PLACE CONTENT HERE</div>
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary flx-within-day" (click)="close()"></button>
    <button type="button" pButton label="Ok" class="flx-within-day" (click)="performAction()"></button>
  </p-footer>
</p-dialog>
<p-dialog [(visible)]="dayAheadDialogVisible" styleClass="flx-day-ahead">
  <p-header>
    <span class="p-tag p-tag-rounded flx-day-ahead">WD</span>
    Pop-up title
  </p-header>
  <div class="fake-content">PLACE CONTENT HERE</div>
  <p-footer>
    <button type="button" pButton label="Cancel" class="p-button-secondary flx-day-ahead" (click)="close()"></button>
    <button type="button" pButton label="Ok" class="flx-day-ahead" (click)="performAction()"></button>
  </p-footer>
</p-dialog>
