<h1>Rating</h1>
<p>Rating component is a star based selection input. See <a href="https://www.primefaces.org/primeng/showcase/#/rating" target="_blank" rel="noreferrer noopener">official documentation</a>.</p>
<div class="p-grid p-flex-column">
  <div class="p-col">
    <p-panel header="PrimeNG Example" [toggleable]="true">
      <h5>Basic</h5>
      <p-rating [(ngModel)]="val1"></p-rating>

      <h5>No Cancel</h5>
      <p-rating [(ngModel)]="val2" [cancel]="false"></p-rating>

      <h5>ReadOnly</h5>
      <p-rating [ngModel]="val3" readonly="true" stars="10" [cancel]="false"></p-rating>

      <h5>Disabled</h5>
      <p-rating [ngModel]="val4" disabled="true" stars="10"></p-rating>
    </p-panel>
  </div>
</div>
