<h1>TriStateCheckbox</h1>
<p>
  TriStateCheckbox is used to select either "true", "false" or "null" as the value. See
  <a href="https://www.primefaces.org/primeng/showcase/#/tristatecheckbox" target="_blank" rel="noreferrer noopener"
    >official documentation</a
  >.
</p>
<div class="p-grid p-flex-column">
  <div class="p-col">
    <p-panel header="PrimeNG Example" [toggleable]="true">
      <p-triStateCheckbox [(ngModel)]="value"></p-triStateCheckbox>
      <label class="p-ml-2">{{ value == null ? 'null' : value }}</label>
    </p-panel>
  </div>
</div>
