<h1>ColorPicker</h1>
<p>
  ColorPicker is an input component to select a color. See
  <a href="https://www.primefaces.org/primeng/showcase/#/colorpicker" target="_blank" rel="noreferrer noopener">official documentation</a>.
</p>
<div class="p-grid p-flex-column">
  <div class="p-col">
    <p-panel header="PrimeNG Example" [toggleable]="true">
      <h5>Inline</h5>
      <p-colorPicker [(ngModel)]="color1" [inline]="true"></p-colorPicker>

      <h5>Overlay</h5>
      <p-colorPicker [(ngModel)]="color2"></p-colorPicker>
    </p-panel>
  </div>
</div>
