/// Border of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContentBorder: 0 none;

/// Background of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContentBg: $white;

/// Box shadow of an overlay container element such as dialog or overlaypanel
/// @group overlay
$overlayContainerShadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);

/// Background of a dialog header
/// @group overlay
$dialogHeaderBg: $neutralColor100;

/// Border of a dialog header
/// @group overlay
$dialogHeaderBorder: 0 none;

/// Text color of a dialog header
/// @group overlay
$dialogHeaderTextColor: $panelContentTextColor;

/// Font weight of a dialog header
/// @group overlay
$dialogHeaderFontWeight: 400;

/// Font size of a dialog header
/// @group overlay
$dialogHeaderFontSize: 1.5rem;

/// Padding of a dialog header
/// @group overlay
$dialogHeaderPadding: 1rem 2.25rem;

/// Padding of a dialog content
/// @group overlay
$dialogContentPadding: 1.5rem 2.25rem;

/// Border of a dialog footer
/// @group overlay
$dialogFooterBorder: 0 none;

/// Padding of a dialog footer
/// @group overlay
$dialogFooterPadding: 1rem;

/// Background of a tooltip
/// @group overlay
$tooltipBg: $grayColor900;

/// Text color of a tooltip
/// @group overlay
$tooltipTextColor: $white;

/// Padding of a tooltip
/// @group overlay
$tooltipPadding: 0.5rem;
