<h1>Textarea</h1>
<p>
  Textarea is a multi-line text input element. See
  <a href="https://www.primefaces.org/primeng/showcase/#/inputtextarea" target="_blank" rel="noreferrer noopener">official documentation</a
  >.
</p>
<div class="p-grid p-flex-column">
  <div class="p-col">
    <p-panel header="Default Astra Styling" [toggleable]="true">
      <h5>Default</h5>
      <textarea rows="5" cols="30" placeholder="Placeholder text" pInputTextarea></textarea>

      <h5>AutoResize</h5>
      <textarea rows="5" cols="30" placeholder="Placeholder text" pInputTextarea autoResize="autoResize"></textarea>
    </p-panel>
  </div>
  <div class="p-col">
    <p-panel header="GSmart Specific Styling" [toggleable]="true">
      <h5>Disabled</h5>
      <textarea rows="5" cols="30" placeholder="Placeholder text" pInputTextarea [disabled]="true"></textarea>
    </p-panel>
  </div>
</div>
