
<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.38.5" />
</packages>
<configuration>
  <packageSources>
    <clear />
    <add key="fluxysfeed" value="https://pkgs.dev.azure.com/fluxys/TAO/_packaging/fluxysfeed/nuget/v3/index.json" />
  </packageSources>
</configuration>
